<%- include('paritals/header.ejs') %>

<body>
  <h1>View and Add Players</h1>

  <a href="/createPlayer">Create Player</a>

  <ul>
    <% playersDB.forEach(player => { %>
    <li>
      <b>ID: </b><%= player.id %> <br />
      <b>Player Name: </b><%= player.name %><br />
      <b>Player Type: </b><%= player.type %>

      <form id="delete-player-form" action="/api/players/<%=player.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="id" value="<%= player.id  %>">
        <button type="submit">Delete</button>
      </form>
    </li>
    <% }); %>
  </ul>

</body>

</html>